# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.env
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# ==========================
# Ultralytics
# ==========================
runs/
*.cache
events.out.tfevents*

# Pretrained checkpoints (re-downloadable)
yolo26*.pt
*.pt
!README.md
checkpoints/

# Ignore all experiment weights...
experiments/**/weights/

# ...except the baseline best model
!experiments/YOLO26_Pose_Runs/E01_YOLO26n_Baseline/weights/
!experiments/YOLO26_Pose_Runs/E01_YOLO26n_Baseline/weights/best.pt

# ==========================
# Temporary outputs
# ==========================
inspect_*.jpg
*.zip

# System
.DS_Store
Thumbs.db
.vscode/
*.log